<div class="container">
  <h1 class="text-center">AVIONS DISPONIBLES</h1>
  <h2 class="text-center">Prenez votre envol dans un confort absolu !</h2>
  <div class="row">
    <% @jets.each do |jet| %>
      <div class="col-md-4">
        <div class="card jet-card">
          <!-- Recherche de l'image -->
          <%= image_tag(asset_path(jet.image), class: "card-img-top jet-card-img", alt: jet.model) if jet.image.present? %>
          <div class="card-body text-center">
            <h5 class="card-title fw-bold"><%= jet.model %></h5>
            <p class="card-text">
              <%= number_to_currency(jet.price) %><br>
              <%= pluralize(jet.capacity, 'passager') %><br>
              <span class="<%= jet.available ? 'text-success' : 'text-danger' %>">
                <%= jet.available ? 'Disponible' : 'Indisponible' %>
              </span>
            </p>
            <%= link_to 'VOIR LES DÉTAILS', jet_path(jet), class: "btn btn-jet-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
