<%= simple_form_for @jet do |f| %>
  <div class="mb-3">
    <%= f.input :model, label: "Modèle du jet", input_html: { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= f.input :price, label: "Prix par jour (€)", input_html: { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= f.input :capacity, label: "Capacité (nombre de passagers)", input_html: { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= f.input :available, as: :boolean, label: "Disponible ?" %>
  </div>

  <%= f.submit "Créer le jet", class: "btn btn-primary" %>
<% end %>
