<%# app/views/jets/show.html.erb %>
<div class="jet-details container mt-5">
  <div class="d-flex align-items-center mb-4 mt-3">
    <div class="action-buttons">
      <%= link_to 'Retour à la liste', jets_path, class: 'btn btn-jet-secondary mb-2' %>
    </div>
    <h1 class="jet-title text-center">Détails du Jet</h1>
  </div>
  <div class="container-resa" style="
    display: grid;
    grid-template-columns: 500px 500px;">
    <!-- Section gauche : Image -->
<div class="column">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% if @jet.image.nil? %>
      <% @jet.images.each_with_index do |image, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <%=  image_tag image ,class:"d-block w-100" %>
        </div>
      <% end %>
    <% else %>
      <div class="carousel-item active">
        <%=  image_tag @jet.image, class:"d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%=  image_tag @jet.image1 ,class:"d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%=  image_tag @jet.image2 ,class:"d-block w-100" %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
    <!-- Section centre : Informations -->
  <br>
  <h2 class="jet-model"><%= @jet.model %></h2>
  <br>
  <div class="d-flex justify-content-around">
    <div class="jet-price d-flex flex-column">
      <strong>Prix par jour </strong>
      <span><%= convert_to_euro(@jet.price) %></span>
    </div>
    <div class="jet-availability d-flex flex-column">
      <strong>Disponibilité  </strong>
      <p><%= @jet.available ? 'Disponible' : 'Non disponible' %></p>
    </div>
    <div class="jet-capacity d-flex flex-column">
      <strong>Capacité  </strong>
      <p><%= @jet.capacity %> passagers</p>
    </div>
  </div>
</div>

<% if @jet.user != current_user %>
  <div class="column2">
    <!-- Section droite : Formulaire -->
    <div class="col-md-4">
      <div class="reservation-form">
        <h2 class="text-center">Créer une réservation</h2>
        <%= render 'bookings/form', jet: @jet, booking: Booking.new %>
      </div>
    </div>
  </div>
<% end %>
  </div>
</div>
