<h1>Your bookings:</h1>

<div class="booking-cards">
  <% @bookings.each do |booking| %>
    <div class="booking-card">
      <h3><%= booking.jet.model %></h3>
      <p><strong>Start Date:</strong> <%= booking.start_date.strftime('%Y-%m-%d') %></p>
      <p><strong>End Date:</strong> <%= booking.end_date.strftime('%Y-%m-%d') %></p>
      <p><strong>Status:</strong> <%= booking.status.capitalize %></p>
      <% if booking.special_requests.present? %>
        <p><strong>Special Requests:</strong> <%= booking.special_requests %></p>
      <% end %>
      <p><strong>Total Price:</strong> <%= @total_price %> €</p>
    </div>
  <% end %>
</div>

