<div class="container mt-5">
  <h1>New Booking</h1>

<<<<<<< HEAD
<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
    <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class='container mt-5'>
  <%= simple_form_for [@jet, @booking] do |f| %>
  <%= f.input :airport %>
  <%= f.input :start_date, placeholder: "yyyy-mm-jj" %>
  <%= f.input :end_date, placeholder: "yyyy-mm-jj" %>
  <%= f.input :special_requests %>
  <%= f.submit%>
=======
  <%= simple_form_for :booking, url: bookings_path do |f| %>
    <!-- Champ pour l'aéroport -->
    <div class="mb-3">
      <%= f.input :airport, label: "Airport", input_html: { class: "form-control" } %>
    </div>

    <!-- Champ pour la date de début -->
    <div class="mb-3">
      <%= f.input :start_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
    </div>

    <!-- Champ pour la date de fin -->
    <div class="mb-3">
      <%= f.input :end_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
    </div>

    <!-- Champ pour les demandes spéciales -->
    <div class="mb-3">
      <%= f.input :special_requests, label: "Special Requests", input_html: { class: "form-control" } %>
    </div>

    <!-- Bouton de soumission -->
    <div class="text-center">
      <%= f.submit "Save Booking", class: "btn btn-success btn-lg" %>
    </div>
>>>>>>> 8402c1f2b837878a3f2b3b923339258dbd006b3a
  <% end %>
</div>
