
<div class='container mt-5'>
  <%= simple_form_for :booking do |f| %>
  <%= f.input :airport %>
  <%= f.input :start_date, placeholder: "yyyy-mm-jj" %>
  <%= f.input :end_date, placeholder: "yyyy-mm-jj" %>
  <%= f.input :special_requests %>
  <%= f.submit%>
  <% end %>
</div>
