<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-dark">
  <div class="container-fluid">
    <!-- Lien vers la page d'accueil -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.carenews.com/sites/default/files/styles/large_actualites/public/2023-11/Design%20sans%20titre%20%282%29_0.png?itok=R4Zf5TuT", alt: "Home logo" %>
    <% end %>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liens de navigation -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <%= link_to "Jets", jets_path, class: "nav-link text-light" %>
        </li>
        <li>
        <%= link_to 'Booking',  dashboard_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item dropdown">
          <!-- Avatar utilisateur -->
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Mon compte", "#", class: "dropdown-item" %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
