<div class="container mt-5">
  <h1 class="text-center">Bienvenue sur votre Dashboard</h1>
  <p class="text-center">Voici un aperçu de vos informations :</p>

  <!-- Section pour les jets -->

  <div class="mt-4">
    <h2 class="text-center">Vos jets</h2>
    <div class="row">
    <% @jets.each do |jet| %>
      <div class="col-md-4">
        <div class="card jet-card">
          <!-- Recherche de l'image -->
          <%= image_tag(asset_path(jet.image), class: "card-img-top jet-card-img", alt: jet.model) if jet.image.present? %>
          <div class="card-body text-center">
            <h5 class="card-title fw-bold"><%= jet.model %></h5>
            <p class="card-text">
              <%= number_to_currency(jet.price) %><br>
              <%= pluralize(jet.capacity, 'passager') %><br>
              <span class="<%= jet.available ? 'text-success' : 'text-danger' %>">
                <%= jet.available ? 'Disponible' : 'Indisponible' %>
              </span>
            </p>
            <%= link_to 'VOIR LES DÉTAILS', jet_path(jet), class: "btn btn-jet-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <% if @jets.present? %>

    <% else %>
      <p>Vous n'avez pas encore de jets enregistrés.</p>
    <% end %>
  </div>
</div>

  <!-- Section pour les réservations -->
  <div class="mt-4">
    <h2>Vos réservations</h2>
    <% if @bookings_for_my_jets.present? %>
      <ul>
        <% @bookings.each do |booking| %>
          <li>
            Réservation au départ de <%= booking.airport %>,
            du <%= booking.start_date %> au <%= booking.end_date %>

            <% if booking.status == "pending" %>
              <!-- Boutons pour accepter ou refuser -->
              <div class="mt-2">
                <%= link_to "Accepter", accept_booking_path(booking), class: "btn btn-success btn-sm me-2", data: { turbo_method: :patch } %>
                <%= link_to "Refuser", decline_booking_path(booking), class: "btn btn-danger btn-sm", data: { turbo_method: :patch } %>
              </div>
            <% else %>
              <div class="mt-2">
                <span class="badge <%= booking.status == 'accepted' ? 'bg-success' : 'bg-danger' %>">
                  <%= booking.status == "accepted" ? "Acceptée" : "Refusée" %>
                </span>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Vous n'avez pas encore de réservations.</p>
    <% end %>
  </div>
</div>
