<div class="container mt-5">
  <h1 class="text-center">Bienvenue sur votre Dashboard</h1>
  <p class="text-center">Voici un aperçu de vos informations :</p>

  <!-- Section pour les jets -->
  <div class="mt-4">
    <h2>Vos jets</h2>
    <% if @jets.present? %>
      <ul>
        <% @jets.each do |jet| %>
          <li><%= link_to jet.model, jet_path(jet) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Vous n'avez pas encore de jets enregistrés.</p>
    <% end %>
  </div>

  <!-- Section pour les réservations -->
  <div class="mt-4">
    <h2>Vos réservations</h2>
    <% if @@bookings_for_my_jets.present? %>
      <ul>
        <% @bookings.each do |booking| %>
          <li>
            Réservation au départ de <%= booking.airport %>,
            du <%= booking.start_date %> au <%= booking.end_date %>

            <% if booking.status == "pending" %>
              <!-- Boutons pour accepter ou refuser -->
              <div class="mt-2">
                <%= link_to "Accepter", accept_booking_path(booking), class: "btn btn-success btn-sm me-2", data: { turbo_method: :patch } %>
                <%= link_to "Refuser", decline_booking_path(booking), class: "btn btn-danger btn-sm", data: { turbo_method: :patch } %>
              </div>
            <% else %>
              <div class="mt-2">
                <span class="badge <%= booking.status == 'accepted' ? 'bg-success' : 'bg-danger' %>">
                  <%= booking.status == "accepted" ? "Acceptée" : "Refusée" %>
                </span>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Vous n'avez pas encore de réservations.</p>
    <% end %>
  </div>
</div>
