<%# app/views/pages/home.html.erb %>

  <section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
      <h1>Découvrez le Luxe dans les Airs</h1>
      <p>Réservez votre jet privé et vivez une expérience de vol inégalée.</p>
      <div class="hero-buttons">
        <%= link_to 'Réservez votre vol', jets_path, class: "btn btn-primary me-2" %>
        <%= link_to 'Louez votre jet', new_jet_path, class: "btn btn secondary me-2" %>
      </div>
    </div>
  </section>

  <section id="services" class="services">
    <h2>Les valeurs qui bâtissent notre renommée</h2>

  </section>
</div>


  <div class="row mt-4">
    <!-- Première carte -->
    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <%= image_tag "luxury_icon.png", class: "mb-3", alt: "Confort absolu", width: 60 %>
          <h5 class="card-title">Confort de Luxe</h5>
          <p class="card-text">Voyagez dans des jets équipés des meilleurs aménagements pour une expérience inoubliable et unique.</p>
        </div>
      </div>
    </div>

    <!-- Deuxième carte -->
    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <%= image_tag "efficiency_icon.png", class: "mb-3", alt: "Efficacité", width: 60 %>
          <h5 class="card-title">Efficacité et Rapidité</h5>
          <p class="card-text">Réservez votre jet en quelques minutes et gagnez du temps précieux pour vos déplacements.</p>
        </div>
      </div>
    </div>

    <!-- Troisième carte -->
    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <%= image_tag "network_icon.png", class: "mb-3", alt: "Réseau", width: 60 %>
          <h5 class="card-title">Large Réseau d'Aéroports</h5>
          <p class="card-text">Accédez à un vaste réseau d'aéroports pour connecter les destinations qui comptent pour vous.</p>
        </div>
      </div>
    </div>
  </div>
</div>
