<!DOCTYPE html>
<html>
  <head>
    <title>Jets Rent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Inclure les feuilles de styles via le pipeline d'assets -->
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <!-- Meta pour le responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= yield %>

    <!-- Inclure le fichier JavaScript principal -->
    <%= javascript_importmap_tags %>
  </body>
</html>
